@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=GFS+Didot&family=Manrope:wght@800&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Dancing+Script:wght@700&family=GFS+Didot&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a {
  color: black;
}

/* ::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #303a74;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-clr);
  border-radius: 2px;
} */

body {
  font-family: Roboto, 'Regular';
  background: #f2f2f2;

}

.frame {
  border-radius: 20px;
}

/* Header/Titulo do blog */
.header {
  padding: 20px;
  text-align: center;
  -webkit-animation: rainbow 10s ease infinite;
  animation: rainbow 10s ease infinite;
  background-image: linear-gradient(124deg, #0072BC, #00395E, #008DEB, #3273dc);
  
}

.msgCards {
  color: black;
  font-family: 'Manrope', sans-serif;
  display: flex;
}

.art1title {
  display: flex;
}

.header h1 {
  font-size: 50px;
}

#logo {
  animation: fadeIn 3s ease;
}
/* Img Footer */
#logobaixo {
  width: 95%;
}
.gapImg {
  margin: 10px 10px 10px 0px !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }

  100% {
    opacity: 1;
  }
}

.text {
  font-family: Lato;
  font-size: larger;
  color: black;
}

/* Estilo barra de navegação superior */
.topnav {
  position: relative;
  /* margin: 25px; */
  height: 50px;
  width: auto;
  border-radius: 0px 0px 8px 8px;
  font-size: 0;
  background: #333;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
}


#navbar {
  width: 100%;
}

.gd {
  transition: all 0.9s;
}

.gd:hover {
  transform: scale(1.02);
  color: #008DEB;
  transition: color 1s;
}

/* Estilo topnav links*/
.topnav a {
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  ;
}

nav .animation {
  position: absolute;
  height: 100%;
  /* height: 5px; */
  top: 0;
  /* bottom: 0; */
  z-index: 0;
  background: #0072BC;
  border-radius: 0px 8px 8px 8px;
  transition: all .5s ease 0s;
}

nav a:nth-child(1) {
  width: 100px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0;
}

nav a:nth-child(2) {
  width: 110px;
}

nav a:nth-child(2):hover~.animation {
  width: 110px;
  left: 100px;
}

nav a:nth-child(3) {
  width: 100px;
}

nav a:nth-child(3):hover~.animation {
  width: 100px;
  left: 210px;
}

nav a:nth-child(4) {
  width: 160px;
}

nav a:nth-child(4):hover~.animation {
  width: 160px;
  left: 310px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:wght@500&display=swap');


.wrapp {
  /*This part is important for centering*/
  display: grid;
  place-items: center;
  text-transform: uppercase;
}

.typing-demo {
  width: 37.3vw;
  animation: typing 2s steps(40), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

.typing-demo2 {
  width: 51.0vw;
  animation: typing 2s steps(40), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

/* .typing-demo3 {
  width: 21.7vw;
  animation: typing 1.5s steps(40), blink .4s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
} */

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

#img2 {
  height: 450px;
  overflow: hidden;
}

#imgart2 {
  width: 100%;
}


.borderStyle {
  border-radius: 15px 20px 20px 15px;
}

/* 2 Colunas separadas que flutuam */
/* Coluna esquerda*/
.leftcolumn {
  float: left;
  width: 75%;
  border-radius: 20px;
}

/* Coluna direita */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 25px;
  border-radius: 20px;
}

/* imagens */
.img {
  background-color: #A7B7E8;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

/* .artimg{
  background-color: #A7B7E8;
  border-radius: 10px;
  width: 100%;
} */

/* Efeito de card para os artigos */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  border-style: outset;
  border-color: black;
  box-shadow: 2px;
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.01);
}

/* .cardx:hover{
  transform: scale(1.01);
} */


.cardextra {
  background-color: #A7B7E8;
  padding: 20px;
  border-radius: 60px 45px 55px 15px;
  box-shadow: 2px;
  width: 95%;
  border-style: solid;
  border-color: #303a74;
  transition: all 0.4s;
}

.cardextra:hover {
  transform: scale(1.02);
}

.cardText {
  background-color: #A7B7E8;
  padding: 19px;
  border-radius: 60px 45px 55px 15px;
  box-shadow: 2px;
  width: 95%;
  border-style: solid;
  border-color: #303a74;
  transition: all 0.4s;
}

.card2 {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  width: 95%;
  border-style: outset;
  border-color: black;
  box-shadow: 2px;
}

.card3 {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  width: 55%;
  border-style: outset;
  border-color: black;
  box-shadow: 2px;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.cardy {
  background: #fff;
  width: 60%;
  height: 110%;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.5em;
  cursor: pointer;
  position: relative;
  font-family: cursive;
}

.cardy:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.cardy:hover:before, .card:hover:after {
  animation: none;
  opacity: 1;
}


.cardy::before {
  content: "";
  width: 102%;
  height: 105%;
  border-radius: 10px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -2%;
    left: -1%;
    right: -1%;
    animation: spin 2.5s linear infinite;
}

.cardy::after {
  position: absolute;
  content: "";
  z-index: -1;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .0s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.cardcustom {
  background-color: #A7B7E8;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px 15px 20px 2px;
  box-shadow: 2px;
  width: 95%;
  border-style: solid;
  border-color: #303a74;
  transition: all 0.4s;
}

.cardx {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  border-color: #aaa;
  transition: all 0.3s;
}

/* .cardx:hover{
    color: #0072BC;
      transition: color 1s;
  } */


  
.cardArt1 {
  background-color: #A7B7E8;
  padding: 20px;
  border-radius: 60px 45px 55px 15px;
  box-shadow: 2px;
  width: 95%;
  border-style: solid;
  border-color: #303a74;
  transition: all 0.4s;
}

.cardArt1:hover {
  transform: scale(1.02);
}

.cardArt11 {
  background-color: #A7B7E8;
  padding: 20px;
  border-radius: 60px 45px 55px 15px;
  box-shadow: 2px;
  width: 95%;
  border-style: solid;
  border-color: #303a74;
  transition: all 0.4s;
}

.cardArt11:hover {
  transform: scale(1.02);
}


.cardArt111 {
  background-color: #A7B7E8;
  padding: 20px;
  border-radius: 60px 45px 55px 15px;
  box-shadow: 2px;
  width: 95%;
  border-style: solid;
  border-color: #303a74;
  transition: all 0.4s;
}

.cardArt111:hover {
  transform: scale(1.02);
}

/* Clear floats após colunas */
.row::after {
  content: "";
  display: table;
  clear: both;
}




/* Background animação */

.wrapper span {
  position: fixed;
  bottom: -180px;
  height: 50px;
  width: 50px;
  z-index: -1;
  background-color: #303a74;
  box-shadow: 0 0 50px #000F28, 0 0 100px #0072BC, 0 0 150px #0072ff, 0 0 200px #0072ff;
  animation: animate 10s linear infinite;
}

.wrapper span:nth-child(1) {
  left: 60px;
  animation-delay: 0.6s;
}

.wrapper span:nth-child(2) {
  left: 10%;
  animation-delay: 3s;
  width: 60px;
  height: 60px;
}

.wrapper span:nth-child(3) {
  left: 20%;
  animation-delay: 2s;
}

.wrapper span:nth-child(4) {
  left: 30%;
  animation-delay: 5s;
  width: 80px;
  height: 80px;
}

.wrapper span:nth-child(5) {
  left: 40%;
  animation-delay: 1s;
}

.wrapper span:nth-child(6) {
  left: 50%;
  animation-delay: 7s;
}

.wrapper span:nth-child(7) {
  left: 60%;
  animation-delay: 6s;
  width: 100px;
  height: 100px;
}

.wrapper span:nth-child(8) {
  left: 70%;
  animation-delay: 8s;
}

.wrapper span:nth-child(9) {
  left: 80%;
  animation-delay: 6s;
  width: 90px;
  height: 90px;
}

.wrapper span:nth-child(10) {
  left: 90%;
  animation-delay: 4s;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content h2 b {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fff;
  font-family: montserrat;
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 12px;
}

@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  80% {
    opacity: .7;
  }

  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}


.btn {
  position: relative;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 60;
  letter-spacing: 1px;
  border: none;
  padding: 5px 3px;
  background: #fff;
  color: #262626;
  font-size: 15px;
  text-transform: uppercase;
}

.btn:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -10px;
  left: -10px;
  border-top: 3px solid #0072BC;
  border-left: 3px solid #0072ff;
  transition: all 0.5s;
}

.btn:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: -10px;
  right: -10px;
  border-bottom: 3px solid #0072ff;
  border-right: 3px solid #0072ff;
  transition: all 0.5s;
}

.btn:hover:before,
.btn:hover:after {
  height: 100%;
  width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.row {
  display: flex;
  margin: 0px 5px 0px 5px;

}

.row2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
}

/* Footer */
.footer {
  padding: 15px;
  display: flex;
  background: #000F28;
  margin-top: 15px;
  color: #aaa;
  align-items: center;
  height: 170px;
}

.divFooterContact {
  width: 20%;
}



.footer-col {
  width: 55%;

}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #0072BC;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  width: 200px;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  position: relative;

  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}





/* layout responsivo -800 px */
@media only screen and (max-width: 1400px) {

  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 800px) {

  .row {
    display: flex;
    flex-direction: column;
  }

  .footer {
    padding: 15px;
    display: flex;
    flex-direction: column;
    background: #000F28;
    margin-top: 10px;
    color: #aaa;
    align-items: center;
    height: 400px
  }

  .footer-col {
    width: 45%;
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;

  }
  .responsaFooter {
    margin-top: 15px;
  }

  .social-menu{
    margin-top: 10px;
  }
}